            p {
                font-family: 'Georgia', serif;
                font-size: 16px;
                color: 111;
            }
            .pull-quote {
                margin-left: 10px;
                border: 2px dashed orangered;
                text-align: center;
                font-style: italic;
                font-size: 20px;
                color: #007A36;  
            }
            .byline {
                color: #282828;
                font-style: italic;
                text-align: center;
            }
            img {
                border: 2px solid orangered;
            }